<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have a message from <%= @inquiry.name %>!</h1>
    <p>
      <%= @inquiry.content %>
    </p>
    <p><i>message delivered from keilmiller.com</i></p>
  </body>
</html>
